@model Eindproject_BePact.Models.Persoon

@{
    ViewBag.Title = "Verwijder persoon";
}

<h2>Persoon verwijderen</h2>

<p class="error">@ViewBag.ErrorMessage</p>

<h3>Ben je zeker dat je deze persoon wilt verwijderen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achternaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefoonnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefoonnr)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder persoon" class="btn btn-danger" /> |
            @Html.ActionLink("Terug naar het overzicht", "Index")
        </div>
    }
</div>
