@model Eindproject_BePact.Models.Activiteit

@{
    ViewBag.Title = "Verwijder activiteit";
}

<h2>Verwijder "@Html.DisplayFor(model => model.ActiviteitType)"</h2>

<p class="error">@ViewBag.ErrorMessage</p>

<h3>Ben je zeker dat je deze activiteit wilt verwijderen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActiviteitType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiviteitType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder activiteit" class="btn btn-danger" /> |
            @Html.ActionLink("Terug naar het overzicht", "Index")
        </div>
    }
</div>
