@model PagedList.IPagedList<Eindproject_BePact.Models.Activiteit>
@using PagedList.Mvc

@{
    ViewBag.Title = "Activiteiten";
}

<h2>Alle activiteiten</h2>

@*<p>
    @Html.ActionLink("Activiteit toevoegen", "Create", "Activiteiten", null, new { @class = "btn btn-primary" })
</p>*@

@using (Html.BeginForm("Index", "Activiteiten", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label class="sr-only" for="Zoeken">Zoeken</label>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Zoeken op type" })
    </div>
    <button type="submit" class="btn btn-default">Zoeken</button>
}
<table class="table table-responsive table-striped table-hover">
    <tr>
        <th>
            @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActiviteitType)
            </td>
            <td class="text-right">
                <a href="@Url.Action("Details", "Activiteiten", new { id = item.ID })"><i class="material-icons">remove_red_eye</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                @*<a href="@Url.Action("Edit", "Activiteiten", new { id = item.ID })"><i class="material-icons">edit</i></a>&nbsp;&nbsp;&nbsp;&nbsp;*@
                @*<a href="@Url.Action("Delete", "Activiteiten", new { id = item.ID })"><i class="material-icons">delete</i></a>*@
            </td>
        </tr>
    }

</table>

<br />
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) van @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))