@model Eindproject_BePact.Models.Bedrijf

@{
    ViewBag.Title = "Bedrijf verwijderen";
}

<h2>Bedrijf verwijderen</h2>

<h3>Ben je zeker dat je dit bedrijf wilt verwijderen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefoonnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefoonnr)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder" class="btn btn-danger" /> |
            @Html.ActionLink("Terug naar het overzicht", "Index")
        </div>
    }
</div>
