@model PagedList.IPagedList<Eindproject_BePact.Models.Bedrijf>
@using PagedList.Mvc

@{
    ViewBag.Title = "Bedrijven";
}

<h2>Alle bedrijven</h2>

<p>
    @Html.ActionLink("Bedrijf toevoegen", "Create", "Bedrijven", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Index", "Bedrijven", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label class="sr-only" for="Zoeken">Zoeken</label>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Zoeken op naam, email of telefoonnr" })
    </div>
    <button type="submit" class="btn btn-default">Zoeken</button>
}
<table class="table table-responsive table-striped table-hover">
    <tr>
        <th>
            @Html.ActionLink("Naam", "Index", new { sortOrder = ViewBag.NaamSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Telefoonnummer", "Index", new { sortOrder = ViewBag.TelnrSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefoonnr)
            </td>
            <td class="text-right">
                <a href="@Url.Action("Details", "Bedrijven", new { id = item.ID })"><i class="material-icons">remove_red_eye</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("Edit", "Bedrijven", new { id = item.ID })"><i class="material-icons">edit</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("Delete", "Bedrijven", new { id = item.ID })"><i class="material-icons">delete</i></a>
            </td>
        </tr>
    }

</table>

<br />
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) van @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))